Old/
# Ignore preform files - not worth sharing, since most peope don't have our printer + resin
*.form
# Ignore directories called "Working"
Working/
# Ignore temporary FreeCAD files
*.FCStd1
# Ignore directories called "Private"
private/
# Ignore various backup files
*.bak